<% if review %>
  <div class="comment-content">
    <p>
      <%= review.user.email %> wrote:
      <strong>
        <%= review.content %>
      </strong> with a rating of
      <strong>
        <%= review.rating %>
      </strong>
       out of 5
      <% if review.user == current_user %>
        <%= link_to movie_review_path(movie, review), method: :delete, data: { confirm: "Are you sure?" }, remote: true do %>
          <span class="glyphicon glyphicon-remove delete-comment"></span>
        <% end %>
      <% end %>
    </p>
  </div>
  <br/>
<% end %>
